GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=

GOOGLE_MASTER_SPREADSHEET_ID=
GOOGLE_SUBMISSION_SPREADSHEET_ID=
GOOGLE_KAPAL_FOLDER_ID=

GOOGLE_MASTER_DISTRIBUTOR_SHEET=master_distributor
GOOGLE_SUBMISSION_SHEET=submission
GOOGLE_SUBMISSION_KAPAL_SHEET=submission_kapal
